<!DOCTYPE html>
<html>
<title>Second Floor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Second Floor</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="http://localhost:8080/service/3" class="w3-bar-item w3-button">Menu</a>
      <a href="http://localhost:8080/service/2" class="w3-bar-item w3-button">Order</a>
      <a href="http://localhost:8080/service/1" class="w3-bar-item w3-button">Reserve</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://d1ralsognjng37.cloudfront.net/adb83920-a8f4-4241-a6e9-b99161b20340.jpeg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Second Floor</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://www.secondfloorcafe.com/images/store_kaohsiung.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About us</h1><br>
      <h5 class="w3-center">Distributed System</h5>
      <p class="w3-large">Second Floor is a place for people who are in the urban jungle and working hard for their lives to relax their minds; it is also a nutritional supply station that provides people with recharge and nourishment. Coming to the second building is like returning to their own home. Remove all weapons and defenses, be yourself at ease, and enjoy the hospitality of a group of good friends.</p> 
  </div>
  </div>
</body>
</html>


